@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-color: black;
    --secondary-color: white;
}

body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;

}

.container {
    width : 60%;
    margin:auto;
    display:block;
    text-align: center;
}
nav li {
    display:inline;
    margin-right: 10px;
}
a {
    color:white;
    text-decoration: none;
}
button {
    display: block;
    margin: auto;
    margin-top: 1rem;
   
}
#output {
    margin-top: 1rem;
    font-size: x-large;
}